// Imports

@import './font';

// Custom Bootstrap variable overrides.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 1100px,
  lg: 1200px 
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px
);

$spacer: 1rem;

$spacers: (
	n6:     ($spacer * -4),
	n7:     ($spacer * -5),
	n8:     ($spacer * -6),
	6:      ($spacer * 4),
	7:      ($spacer * 5),
	8:      ($spacer * 6)
);

$grid-gutter-width: $spacer * 2;

// Grays.
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6C757D;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Colors.
$white:            #ffffff;
$black:            #000000;
$blue:             #0C99D6;
$blue-alt:         #17A2B8;
$blue-dark:        #003366;
$blue-dark-alt:    #38598A;
$blue-dark-alt-2:  #0F4C8B;
$blue-light:       #E7EDF3;
$blue-light-alt:   #E9F5FB;
$blue-light-alt-2: #F4FAFD;
$purple:           #52489C;
$purple-light:     lighten($purple, 20);
$yellow:           #FCBA19;
$red:              #DC3545;
$green:            #2E8540;
$orange:           #FD7E14;

$colors: (
  'white':            $white,
  'black':            $black,
  'blue':             $blue,
  'blue-alt':         $blue-alt,
  'blue-dark':        $blue-dark,
  'blue-dark-alt':    $blue-dark-alt,
  'blue-dark-alt-2':  $blue-dark-alt-2,
  'blue-light':       $blue-light,
  'blue-light-alt':   $blue-light-alt,
  'blue-light-alt-2': $blue-light-alt-2,
  'purple':           $purple,
  'purple-light':     $purple-light,
  'yellow':           $yellow,
  'red':              $red,
  'green':            $green
);

// Utility colors.
$body-color:                        $gray-900;
$border-color:                      $gray-400;
$nav-tabs-border-color:             $border-color;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 transparent;
$nav-tabs-link-active-bg:           $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent;
$component-active-bg:               $blue;
$link-color:                        $blue;
$dropdown-link-hover-bg:            $gray-100;
$dropdown-link-active-bg:           $gray-200;
$table-hover-bg: $blue-light-alt;

// Theme colors.
// Bootstrap updates the theme map based on these variables,
// so we don't need to update the map at all.
$primary:      $blue;
$secondary:    $gray-600;
$info:         $blue-dark-alt-2;
$warning:      $orange;
$danger:       $red;
$success:      $green;
$body:         $body-color;
$light:        $gray-100;
$dark:         $gray-800;
$bcgov-blue:   $blue-dark;
$bcgov-yellow: $yellow;

$theme-colors:   map-merge(
  (
    'primary':      $primary,
    'secondary':    $secondary,
    'info':         $info,
    'warning':      $warning,
    'danger':       $danger,
    'success':      $success,
    'body':         $body,
    'light':        $light,
    'dark':         $dark,
    'bcgov-blue':   $bcgov-blue,
    'bcgov-yellow': $bcgov-yellow
  ),
  $colors
);

// Other overrides.
$border-width: 1px;

$font-family-sans-serif: "BCSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-weight-bold:       500;
$font-weight-bolder:     700;

$font-size-base: 1rem;
$h1-font-size:   $font-size-base * 2.5;

$input-btn-padding-x:    0.75rem;
$input-btn-padding-x-sm: 0.75rem;
$input-btn-padding-x-lg: 1.25rem;

$badge-font-size: 80%;

$border-radius-sm: 0.2rem;
$border-radius:    0.3em;
$border-radius-lg: 0.5rem;

$enable-validation-icons: false;

// Custom variables.

$transition-duration: 240ms;

// Import Bootstrap.

@import 'bootstrap';

// Mixins.

// Style an input's placeholder.
// Supports regular placeholder, plus date/time input fields.
@mixin placeholder() {
  &[value=""]::-webkit-datetime-edit, //date/time selector
  &:not([value])::-webkit-datetime-edit, //date/time selector
  &::placeholder {
    @content;
  }
}


// Global styles.

* {
  box-sizing: border-box;
}

html {
  background: $bcgov-blue;

  @media print {
    background: none;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
}

input:-ms-clear {
  display: none;
}

input[type="date"],
input[type="time"] {

  &::-ms-clear {
    display: none;
  }

  &::-webkit-clear-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
}

input,
textarea {

  @include placeholder {
    color: $secondary;
  }

  &:disabled,
  &.disabled {

    @include placeholder {
      color: transparent;
      opacity: 0;
    }

  }
}

textarea {
  resize: none;
}

.app {
  transition-property: filter, opacity;
  transition-duration: $transition-duration;
  transition-timing-function: ease-out;

  .page-container {
    z-index: 2;
  }

  &.in-transition {
    pointer-events: none !important;
    filter: grayscale(30%);
    opacity: 0.9;
  }
}

nav {

  $main-nav-top-height: 67px;
  $main-nav-bottom-navbar-height: 56px;
  &.main-nav {
    z-index: 1000; // Modals have a 1050 z-index, and should be above the nav.
    position: sticky;
    top: -1 * $main-nav-top-height - 1px;

    .main-nav-top-navbar-wrapper {
      position: relative;
      z-index: 2;
    }

    .main-nav-top-navbar {
      @extend .bg-bcgov-blue;
      @extend .border-bottom-gov;
      width: 100%;
      height: $main-nav-top-height;
      position: relative;
      z-index: 2;
    }

    .main-nav-mobile-menu {
      @extend .bg-blue-dark-alt;
      @extend .py-4;
      @extend .d-md-none;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;
      transition: transform ease-out $transition-duration;
      transform: translateY(-100%);

      &.open {
        @extend .shadow;
        transform: translateY(0);
      }
    }

    .main-nav-bottom-navbar {

      &.mobile,
      &.desktop {
        @extend .bg-blue-dark-alt;
        @extend .align-items-center;
        @extend .shadow;
        height: $main-nav-bottom-navbar-height;
        z-index: 1;
      }

      &.desktop {
        @extend .d-none;
        @extend .d-md-flex;
      }

      &.mobile {
        @extend .d-flex;
        @extend .d-md-none;
      }
    }
  }

  .transition-indicator {
    display: none;

    .in-transition & {
      display: block;
    }
  }

  .dropdown-toggle img {
    border: 3px solid transparent;
  }

  .dropdown-toggle:hover img {
    border-color: $blue-dark-alt;
  }
}

// Custom Bootstrap style overrides.

.dropdown-menu {
  min-width: 100%;
}

.btn-warning,
.badge-warning {
  color: $white !important;
}

.btn,
button {

  &.disabled {
    pointer-events: none;
  }

  &.disabled:not(.btn-link):not(.dropdown-item),
  &:disabled:not(.btn-link):not(.dropdown-item) {
    background-color: $secondary !important;
    border-color: $secondary !important;
    color: $white !important;
    box-shadow: none !important;
  }
}

a,
.a {
  cursor: pointer;

  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    pointer-events: none;

    &:hover {
      text-decoration: none;
    }
  }

  &.nav-link:focus {
    outline: none;
  }
}

.disabled,
*:disabled {
  cursor: not-allowed !important;
}

.blockquote {
  margin-left: $spacer;
  padding-left: $spacer;
  border-left: 2px solid $gray-200;
}

blockquote {
  @extend .blockquote;
}

table {
  @extend .table;

  thead {
    @extend .small;
    @extend .text-secondary;
    @extend .text-uppercase;
    @extend .font-weight-bold;
    @extend .bg-light;
  }

  .table-show-on-hover {
    visibility: hidden;
  }

  tr:hover .table-show-on-hover {
    visibility: visible;
  }

  tbody tr:last-of-type td {
    border-bottom: 1px solid $table-border-color;
  }
}

pre {
  @extend .bg-light;
  @extend .p-3;
  @extend .border;
  @extend .rounded;
}

label {
  @extend .py-1;

  .custom-checkbox &,
  .custom-radio & {
    @extend .font-size-base;
    @extend .py-0;
  }
}

nav.navbar .nav-link:hover {
  text-decoration: underline;
}

.card-body {
  @extend .p-4;
}

.badge {
  display: inline-flex;
  padding: 0.35em 0.7em;
  letter-spacing: 0.5px;
}

.custom-radio,
.custom-checkbox {

  .custom-control-label::before {
    transition: none;
  }
}

.spinner-border-sm {
  border-width: 0.15em;
}

// Custom utilities.

.shadow-hover {
  transition: box-shadow $transition-duration;
  &:hover {
    @extend .shadow;
  }
}

.h-input {
  min-height: $input-height !important;
}

.h-input-sm {
  min-height: $input-height-sm !important;
}

.h-input-lg {
  min-height: $input-height-lg !important;
}

.o-0 {
  opacity: 0 !important;
}

.o-25 {
  opacity: 0.25 !important;
}

.o-50 {
  opacity: 0.50 !important;
}

.o-75 {
  opacity: 0.75 !important;
}

.o-100 {
  opacity: 1 !important;
}

.font-size-extra-small {
  font-size: $font-size-sm*0.8;
}

.font-size-small {
  font-size: $font-size-sm;
}

.font-size-base {
  font-size: $font-size-base;
}

.font-size-large {
  font-size: $font-size-lg;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

// Create classes for each of the text colors
// that apply the color when the element is being hovered.
// .text-hover-primary, .text-hover-danger, etc.
@each $color, $value in $theme-colors {
  .text-hover-#{$color} {
    @include hover {
      color: darken($value, $emphasized-link-hover-darken-percentage) !important;
    }
  }
}
@each $color, $value in $grays {
  .text-gray-#{$color} {
    color: $value;
  }
  .text-hover-gray-#{$color} {
    @include hover {
      color: darken($value, $emphasized-link-hover-darken-percentage) !important;
    }
  }
}

.text-wrap {
  white-space: normal !important;
}

.border-bottom-gov {
  border-bottom: 2px solid $bcgov-yellow;
}

.border-top-gov {
  border-top: 2px solid $bcgov-yellow;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint) {

    .sticky#{$infix} {
      position: sticky;
      z-index: 2;
      top: 6rem;

      &::after {
        content: " ";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        background: inherit;
      }
    }
  }

  @if ($breakpoint == 'xs') or ($breakpoint == 'sm') {

    @include media-breakpoint-down(sm) {

      .app:not(.contextual-actions-visible) .sticky#{$infix} {
        top: 1rem;
      }
    }
  }
}

// Custom components

.toast-wrapper {
  position: fixed;
  bottom: map-get($spacers, 4);
  right: map-get($spacers, 4);
  width: 400px;
  z-index: 1001; // Above nav, below modals

  @include media-breakpoint-down(xs) {
    left: map-get($spacers, 3);
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    right: map-get($spacers, 3);
    bottom: map-get($spacers, 3);
  }

  .toast {
    max-width: unset;

    &-body > *:last-child,
    &-body > *:last-child > *:last-child {
      margin-bottom: 0 !important;
    }
  }
}

.sidebar {

  @include media-breakpoint-down(sm) {
    background-color: $white !important;
    z-index: 3;
  }
}

.react-select-container {
  flex-grow: 1;

  // Handle validation states.
  @each $state, $data in $form-validation-states {
    $color: map-get($data, color);
    $icon: map-get($data, icon);

		&.is-#{$state} {

      .react-select__control {
        border-color: $color;

        @if $enable-validation-icons {
          padding-right: $input-height-inner;
          background-image: $icon;
          background-repeat: no-repeat;
          background-position: center right $input-height-inner-quarter;
          background-size: $input-height-inner-half $input-height-inner-half;
        }

        &--is-focused {
          border-color: $color;
          box-shadow: 0 0 0 $input-focus-width rgba($color, .25);
        }

        ~ .#{$state}-feedback,
        ~ .#{$state}-tooltip {
          display: block;
        }
      }
    }
  }

  // Standard control styles.
  .react-select {

    &__control {
      @extend .form-control;
      @extend .p-0;
      display: flex;
      min-height: $input-height;
      height: auto;

      &--is-disabled {
        background-color: $input-disabled-bg !important;
        opacity: 1 !important;
        cursor: not-allowed !important;

        .react-select__placeholder {
          opacity: 0 !important;
        }
      }

      &--is-focused {
        // Copied from:
        // https://github.com/twbs/bootstrap/blob/de1a6e3201a2f047c5abd2430795be32d37e9a35/scss/mixins/_forms.scss#L15
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
        outline: 0;
        // Avoid using mixin so we can pass custom focus shadow properly
        @if $enable-shadows {
          box-shadow: $input-box-shadow, $input-focus-box-shadow;
        } @else {
          box-shadow: $input-focus-box-shadow;
        }
      }
    }

    &__placeholder {
      color: $input-placeholder-color;
    }

    &__option {
      color: $input-color;

      &--is-focused {
        background: $input-btn-focus-color;
      }

      &--is-selected {
        background: rgba($component-active-bg, 0.75) !important;
        color: $white;
      }
    }
  }
}

.markdown {
  
  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    &:not(:first-child) {
      margin-top: 2*$spacer;
    }
  }

  blockquote,
  table,
  pre {
    margin-top: 2*$spacer;
    margin-bottom: 2*$spacer;
  }

  & > *:last-child {
    @extend .mb-0;
  }

}

.vi-card {
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    .card {
      min-height: 440px;
    }
  }
}

// Custom page overrides.

.route-termsAndConditions {

  .markdown {

    & > ul {
      padding-left: 0;
    }

    ul {
      &,
      li {
        list-style-type: none; 
      }
    }
  }
}
