*.swp
*.tmp
*.tmp.*
*.pem
*.map
*.DS_Store
.env
.envrc
.direnv/
make.sh
.sass-cache/
node_modules/
/tmp/
/build/
/typedoc/front-end/
/typedoc/back-end/
/typedoc/shared/
/.rpt2_cache/
.vscode/
/cypress/screenshots/
/cypress/videos/
*.tsbuildinfo
yarn-error.log
coverage/

Session.vim
tags
__tmp/
/cypress/fixtures/myAccount.sql

# Nix files
*.nix
flake.lock
result
shell.sh

# Yarn
yarn-error.log

# TypeScript
tsconfig.tsbuildinfo

.specstory/
.cursor/
src/marketplace-ai/dist

# Cursor reference files
.cursor_ref
/chroma_data/procurement_docs/
/src/procurement-tokenizer/venv
/chroma_data/exported_docs/
procurement-tokenizer/
