*.swp
*.tmp
*.tmp.*
*.pem
*.map
*.DS_Store
.env
make.sh
.sass-cache/
node_modules/
/tmp/
/build/
/typedoc/front-end/
/typedoc/back-end/
/typedoc/shared/
/.rpt2_cache/
.vscode/
/cypress/screenshots/
/cypress/videos/

Session.vim
tags
__tmp/
/cypress/fixtures/myAccount.sql
