repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-executables-have-shebangs
    - id: check-json
    - id: check-vcs-permalinks
    - id: check-yaml
      args: [--allow-multiple-documents]
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/pre-commit/mirrors-eslint
  rev: v8.3.0
  hooks:
  - id: eslint
    additional_dependencies: ['eslint@8.3.0','eslint-plugin-react','@typescript-eslint/eslint-plugin', 'typescript','typescript-eslint', '@typescript-eslint/parser',"eslint-plugin-mocha",'eslint-plugin-cypress']
    files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
    types: [file]
- repo: https://github.com/Yelp/detect-secrets
  rev: v1.3.0
  hooks:
    - id: detect-secrets
      args: ["--baseline", ".secrets.baseline"]
      exclude: .*/tests/.*
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v2.2.0
  hooks:
      - id: commitlint
        stages: [commit-msg]
