version: "3"
services:
  app:
    image: dm_app_image
    container_name: dm_app
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: .env
    ports:
      - "3000:3000"
    environment:
      POSTGRES_URL: postgresql://digmkt:digmkt@db:5432/digmkt
      VITE_NODE_ENV: ${VITE_NODE_ENV}
    depends_on:
      - db

  db:
    container_name: dm_db
    image: postgres:12
    volumes:
      - dm-vol:/var/lib/postgresql/data
      - ./:/workspace
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: digmkt
      POSTGRES_PASSWORD: digmkt
      POSTGRES_DB: digmkt
    command: ["postgres", "-c", "log_statement=all"]

  test-db:
    container_name: ${CONTAINER_NAME:-dm_test_db}
    image: postgres:12
    volumes:
      - ./sql/create_test_schema.sql:/docker-entrypoint-initdb.d/create_test_schema.sql
      - dm-test-vol:/var/lib/postgresql/data
    restart: always
    ports:
      - "${DB_PORT:-5433}:5432"
    environment:
      POSTGRES_USER: digmkt-test
      POSTGRES_PASSWORD: digmkt-test
      POSTGRES_DB: digmkt-test
    command: ["postgres", "-c", "search_path=digmkt-test,digmkt-test"]

volumes:
  dm-vol:
  dm-test-vol:
  cypress-vol:
