version: "3"
services:
  app:
    image: dm_app_image
    container_name: dm_app
    build:
      context: ././
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    environment:
      POSTGRES_URL: postgresql://digitalmarketplace:digitalmarketplace@db:5432/digitalmarketplace
      NODE_ENV: ${NODE_ENV}
    depends_on:
      - db

  db:
    container_name: dm_db
    image: postgres:10
    volumes:
      - dm-vol:/var/lib/postgresql/data
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: digitalmarketplace
      POSTGRES_PASSWORD: digitalmarketplace
      POSTGRES_DB: digitalmarketplace

volumes:
  dm-vol:
