apiVersion: v1
kind: Secret
metadata:
  name: {{ template "digital-marketplace.fullname" . }}-cookie
  labels: 
{{ include "digital-marketplace.labels" . | indent 4}}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
type: Opaque
data:
  client-secret: {{ .Values.image.app.cookieSecret | b64enc | quote }}
