# version: "3"
# services:
#   db:
#     image: postgres:10
#     restart: always
#     ports:
#       - "5432:5432"
#     environment:
#       POSTGRES_USER: digitalmarketplace
#       POSTGRES_PASSWORD: digitalmarketplace
#       POSTGRES_DB: digitalmarketplace

version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
      args:
        # Update 'VARIANT' to pick an LTS version of Node.js: 16, 14, 12.
        # Append -bullseye or -buster to pin to an OS version.
        # Use -bullseye variants on local arm64/Apple Silicon.
        VARIANT: 12-bullseye

    depends_on:
      - db
      
    init: true

    volumes:
      - ..:/workspace:cached
      
    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

 # need to use host because Codespaces currently forces host networking mode for the main container (https://github.community/t/cant-connect-to-postgres/142655)
    network_mode: host

    # Uncomment the next line to use a non-root user for all processes.
    # user: node

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  db:
    image: postgres:10
    restart: always
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
     - "5432:5432"
    environment:
      POSTGRES_PASSWORD: digitalmarketplace
      POSTGRES_USER: digitalmarketplace
      POSTGRES_DB: digitalmarketplace

    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward PostgreSQL locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

volumes:
  postgres-data: