node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
test
*.test.ts
*.spec.ts
.eslintrc.js
jest.config.js
.prettierrc
dist
