fullnameOverride: app-digmkt-dev
replicaCount: 3

image:
  app:
    repository: ghcr.io/bcgov/digital_marketplace
    pullPolicy: IfNotPresent
    tag: latest # The tag value must be passed in via the deploy script
    clientSecret: "" # clientSecret must be passed in via deploy script
    cookieSecret: ""

app:
  port: "3000"
  probesPort: "3000"
  namespace: ""
  databaseServiceName: postgresql
  databaseUsername: dig-mkt
  mailerHost: apps.smtp.gov.bc.ca
route:
  host: "" # Pass the host in through the deploy script: app-digmkt-dev.apps.silver.devops.gov.bc.ca


networkPolicies:
  enabled: true

resources:
  app:
    requests: 
      cpu: "100m"
      memory: "512Mi"
    limits:
      cpu: "500m"
      memory: "1Gi"

deployer:
  namespace: ccc866-dev
  serviceAccount:
    enabled: true
