name: e2e
on:
  pull_request:
    types: [review_requested]
    branches:
      - development
      - master

jobs:
  cypress:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    # prevent a hanging process from using all the CI minutes
    timeout-minutes: 10

    services:
      postgres:
        # Docker Hub image
        image: postgres:12
        ports:
          - "5432:5432"
        env:
          POSTGRES_USER: digmkt
          POSTGRES_PASSWORD: digmkt
          POSTGRES_DB: digmkt
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --name dm_db
        volumes:
          - ${{ github.workspace }}:/workspace
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v2
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          PGHOST: localhost
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          VITE_NODE_ENV: "development"
          POSTGRES_URL: "postgresql://digmkt:digmkt@localhost:5432/digmkt"
          MAILER_GMAIL_USER: "fake@gmail.com"
          MAILER_GMAIL_PASS: "password"
          COOKIE_SECRET: "foobar"
          ORIGIN: "http://localhost:3000/"
        with:
          build: npm run build
          start: npm run migrations:latest,npm run start
          wait-on: 'http://localhost:3000'
